*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.reset-list {
    list-style-type: none;
}

.visually-hidden {
    display: none;
}

body {
    font-family: "Montserrat", "Arial", sans-serif; 
    font-weight: normal;
    font-size: 16px;

    background-color: #FFFFFF;
}

.header-nav li, p {
    line-height: 20px;
}

a {
    text-decoration: none;   
    color: white; 
}

.header-nav a, .contacts-info a, .header-nav li, p, h2, h3, h4, cite {
    color: #AE7C78;
}

a:hover {
    color: #5B4948;
}

a.btn:hover {
    color: white;
}

h2 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;
}

h3 {
    font-family: "Playfair Display", "Times New Roman", serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
}

h4 {
    font-style: normal;
    line-height: 20px;
}

span {
    font-style: italic;
}

.intro p,
.news-info p {
    font-size: 24px;
    line-height: 29px;
}

.bouquet-name, 
.price {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}

button[type="button"] {
    background-color: #FFFFFF;
    border: none;
}

.discount, footer {
    background-color: #AE7C78;
}

.discount h2 {
    color: white;
}

.discount p {
    font-size: 24px;
    line-height: 29px;
    color: white;
}

cite {
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
}

.contacts-info .title {
    font-weight: 500;
}

.footer-nav li {
    line-height: 20px;
    color: #FFFFFF;
}

/*блочная модель документа далее*/

.page-header {
    margin-top: 26px;
    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

.header-nav {

    display: flex;
    flex-wrap: wrap;
    width: 1200px;
    margin: 22px auto 0 auto;
    padding-bottom: 21px;
}

.header-nav .reset-list {
    display: flex;
    width: 1200px;
    justify-content: space-between;
}

.logo-header {
    position: absolute;
    top: 42px;
    left: 50%;
    transform: translateX(-50%);

}

.header-nav li:nth-child(3) {
    margin-right: 224px;
}

.intro {
    width: 1200px;
    margin: 80px auto 0 auto;

    display: grid;
    grid-template-columns: 1fr 386px 387px;
    column-gap: 20px;
}

.intro-information {
    padding-top: 1px;
    padding-right: 3px;
}

.intro-information h2 {
    margin-bottom: 24px;
}

.intro-information p {
    margin-bottom: 64px;
}

.btn {
    display: block;
    width: 285px;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    background-color: #D89999;
    border-radius: 40px;
}

.btn:hover {
    background-color: #5B4948;
}

.intro-img {
    padding-top: 60px;
}

.intro-img + .intro-img {
    padding-top: 2px;
}

.benefits {
    width: 1200px;
    margin-top: 45px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 385px 355px 370px;
}

.benefits_delivery {
    padding-left: 102px;

    background-image: url("../img/icon_benefits_delivery.svg");
    background-repeat: no-repeat;
    background-size: 82px 53px;
}

.benefits_fresh {
    padding-left: 72px;

    background-image: url("../img/icon_benefits_fresh.svg");
    background-repeat: no-repeat;
    background-size: 52px 52px;
}

.benefits_photo {
    padding-left: 77px;

    background-image: url("../img/icon_benefits_photo.svg");
    background-repeat: no-repeat;
    background-size: 58px 52px;
}

.benefits h4,
.steps-list h4 {
    margin-bottom: 8px;
}

.popular_bouquets {
    width: 794px;
    margin: 85px auto 0 auto;
    text-align: center;
}

.slider-item { 
    margin-top: 36px;   
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.slider-item_description {
    padding-top: 25px;
    text-align: left;
}

.bouquet-name {
    margin-bottom: 21px;
}

.slider-item_description p:nth-child(2),
.slider-item_description p:nth-child(3) {
    margin-bottom: 25px;
}

.slider-item_description p:nth-child(4) {
    margin-bottom: 65px;
}

.slider-control {
    margin-top: 12px;
}

.slider-control button:first-child {
    margin-right: 15px;
}

.bouquets_types {
    width: 1200px;
    margin: 70px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 19px;
}

.bouquets_types_block {
    position: relative;
    text-align: center;
    padding: 183px 0;
    background-color: #AE7C78;
    border-radius: 10px;
}

.bouquets_types_block.wedding {
    background-image: url("../img/bouquets_types_wedding.jpg");
    z-index: 0;
}

.bouquets_types_block.peonies {
    background-image: url("../img/bouquets_types_peonies.jpg");
    z-index: 0;
}

.bouquets_types_block.choose {
    background-image: url("../img/bouquets_types_choose.jpg");
    z-index: 0;
}

.bouquets_types_block::after {
    content: "";
    background-color: #AE7C78;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    border-radius: 10px;
    z-index: -1;
    }

.bouquets_types_block h3,
.bouquets_types_block p {
    color: white;
}

.bouquets_types_block h3 {
    margin-bottom: 8px;
}

.discount {
    width: 1200px;
    margin: 75px auto 0 auto;
    display: grid;
    grid-template-columns: 610px 590px;
}

.discount-info {
    padding: 40px 140px 55px 102px;
}

.discount-info h2 {
    margin-bottom: 24px;
}

.steps {
    width: 1200px;
    margin: 80px auto 0 auto;
    text-align: center;
}

.steps h3 {
    margin-bottom: 36px;
}

.steps-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

}

.steps-list-order, .steps-list-details,
.steps-list-pay, .steps-list-delivery {
    padding-top: 60px;
    background-repeat: no-repeat;
    background-size: 66px 52px;
    background-position: center top;
}

.steps-list-order {
    background-image: url("../img/steps_order_icon.svg");
    background-repeat: no-repeat;
}

.steps-list-details {
    background-image: url("../img/steps_details_icon.svg");
    background-repeat: no-repeat;
}

.steps-list-pay {
    background-image: url("../img/steps_pay_icon.svg");
    background-repeat: no-repeat;
}

.steps-list-delivery {
    background-image: url("../img/steps_delivery_icon.svg");
    background-repeat: no-repeat;
    background-size: 83px 52px;
}

.news {
    width: 1200px;
    margin: 112px auto 0 auto;
    display: grid;
    column-gap: 20px;
    grid-template-columns: 1fr 285px 387px;
}

.news-info {
    width: 387px;
    padding-top: 70px;
    display: grid;
    grid-template-rows: 96px 87px 20px;
    row-gap: 40px;
}

.social-btn-container {
    display: flex;
    flex-wrap: wrap;
}

.social-btn-container .social-btn:nth-child(even) {
    margin: 0 20px;
}

.news-bouquet-left {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

.feedback {
    width: 1200px;
    margin: 50px auto 0 auto;
    padding: 40px 44px 64px;
    
    text-align: center;
    border: 1px solid #AE7C78;
}

.feedback-list {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    column-gap: 106px;
}

blockquote p {
    margin-bottom: 16px;
}

.contacts {
    min-height: 644px;
    position: relative;
    margin-top: 80px;
    border-top: 1px solid white;
}

.contacts-map {
    width: 100%;
    position: absolute;
    z-index: -1;
}

.contacts-info {
    min-height: 520px;
    width: 386px;
    margin-left: 205px;
    margin-top: 52px;
    padding: 40px 110px 25px 35px;
    
    background: #F7FAFC;
    box-shadow: 0px 4px 40px rgba(217, 217, 217, 0.3);
    border-radius: 12px;
    border: 1px solid white;
}

.contacts-info h3 {
    margin-bottom: 38px;
}

.contacts-info .title {
    margin-top: 15px;
    margin-bottom: 32px;
}

.container-footer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;

    display: grid;
    grid-template-columns: 100px 1fr 100px;
    column-gap: 104px;
    
}

.reset-list {
    width: 795px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    flex-wrap: wrap;
   
}

.footer-social .social-btn:nth-child(even) {
    margin: 0 20px;
}